USE [master]
GO
/****** Object:  Database [netfic]    Script Date: 6/26/2023 2:05:49 PM ******/
CREATE DATABASE [netfic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'netfic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\netfic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'netfic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\netfic_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [netfic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [netfic]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emisorId] [int] NOT NULL,
	[receptorId] [int] NOT NULL,
	[mensaje] [varchar](200) NOT NULL,
	[fechaEnvio] [datetime] NOT NULL,
	[productoId] [int] NOT NULL,
	[respuesta] [varchar](200) NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[provincia] [varchar](50) NOT NULL,
	[canton] [varchar](50) NOT NULL,
	[distrito] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[codigoPostal] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Direccion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPedido]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoPedido] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoProducto]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoProducto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoProducto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluacionProducto]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluacionProducto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productoId] [int] NOT NULL,
	[calificacion] [int] NOT NULL,
 CONSTRAINT [PK_EvaluacionProducto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluacionVendedor]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluacionVendedor](
	[id] [int] NOT NULL,
	[usuarioId] [int] NOT NULL,
	[calificacion] [int] NOT NULL,
 CONSTRAINT [PK_EvaluacionVendedor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foto]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productoId] [int] NOT NULL,
	[foto] [varbinary](max) NULL,
 CONSTRAINT [PK_Foto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoPago]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPago](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuarioId] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[numero] [bigint] NOT NULL,
 CONSTRAINT [PK_MetodoPago] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuarioId] [int] NOT NULL,
	[direccionId] [int] NOT NULL,
	[estadoPedidoId] [int] NOT NULL,
	[metodoPagoId] [int] NOT NULL,
	[total] [float] NOT NULL,
	[fecha_pedido] [date] NOT NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoProducto]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoProducto](
	[productoId] [int] NOT NULL,
	[pedidoId] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[estadoPedidoId] [int] NOT NULL,
	[subtotal] [float] NOT NULL,
 CONSTRAINT [PK_PedidoProducto] PRIMARY KEY CLUSTERED 
(
	[productoId] ASC,
	[pedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](max) NOT NULL,
	[precio] [float] NOT NULL,
	[cantidad] [int] NOT NULL,
	[categoriaId] [int] NOT NULL,
	[estadoId] [int] NOT NULL,
	[vendedorId] [int] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefono]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuarioId] [int] NOT NULL,
	[numero] [int] NOT NULL,
	[tipoTelefono] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Telefono] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuarioxUsuario]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuarioxUsuario](
	[usuarioId] [int] NOT NULL,
	[tipoUsuarioId] [int] NOT NULL,
 CONSTRAINT [PK_TipoUsuarioxUsuario] PRIMARY KEY CLUSTERED 
(
	[usuarioId] ASC,
	[tipoUsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 6/26/2023 2:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([id], [descripcion]) VALUES (1, N'Cableado de red')
INSERT [dbo].[Categoria] ([id], [descripcion]) VALUES (2, N'Cámaras de seguridad')
INSERT [dbo].[Categoria] ([id], [descripcion]) VALUES (3, N'Herramientas eléctricas')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Chat] ON 

INSERT [dbo].[Chat] ([id], [emisorId], [receptorId], [mensaje], [fechaEnvio], [productoId], [respuesta]) VALUES (3, 2, 5, N'Este producto tiene garantia?', CAST(N'2023-06-26T14:30:45.000' AS DateTime), 2, N'Si, este producto tiene 12 meses de garantia')
INSERT [dbo].[Chat] ([id], [emisorId], [receptorId], [mensaje], [fechaEnvio], [productoId], [respuesta]) VALUES (6, 2, 5, N'Este producto es certificado?', CAST(N'2023-06-26T14:30:45.000' AS DateTime), 2, NULL)
INSERT [dbo].[Chat] ([id], [emisorId], [receptorId], [mensaje], [fechaEnvio], [productoId], [respuesta]) VALUES (8, 2, 5, N'Tiene garantia aun?', CAST(N'2023-06-26T00:00:00.000' AS DateTime), 8, NULL)
SET IDENTITY_INSERT [dbo].[Chat] OFF
GO
SET IDENTITY_INSERT [dbo].[Direccion] ON 

INSERT [dbo].[Direccion] ([id], [idUsuario], [provincia], [canton], [distrito], [direccion], [codigoPostal]) VALUES (1, 2, N'Alajuela', N'San Ramon', N'San Rafael', N'250mts esta de la escuela rincon de orozco', N'20201')
SET IDENTITY_INSERT [dbo].[Direccion] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoPedido] ON 

INSERT [dbo].[EstadoPedido] ([id], [descripcion]) VALUES (1, N'PENDIENTE')
INSERT [dbo].[EstadoPedido] ([id], [descripcion]) VALUES (2, N'ACEPTADO')
INSERT [dbo].[EstadoPedido] ([id], [descripcion]) VALUES (3, N'ENVIADO')
SET IDENTITY_INSERT [dbo].[EstadoPedido] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoProducto] ON 

INSERT [dbo].[EstadoProducto] ([id], [descripcion]) VALUES (1, N'NUEVO')
INSERT [dbo].[EstadoProducto] ([id], [descripcion]) VALUES (2, N'SEMINUEVO')
INSERT [dbo].[EstadoProducto] ([id], [descripcion]) VALUES (3, N'USADO')
SET IDENTITY_INSERT [dbo].[EstadoProducto] OFF
GO
SET IDENTITY_INSERT [dbo].[Foto] ON 

SET IDENTITY_INSERT [dbo].[Foto] OFF
GO
SET IDENTITY_INSERT [dbo].[MetodoPago] ON 

INSERT [dbo].[MetodoPago] ([id], [usuarioId], [nombre], [numero]) VALUES (2, 2, N'Tarjeta de Credito', 8900908736)
SET IDENTITY_INSERT [dbo].[MetodoPago] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedido] ON 

INSERT [dbo].[Pedido] ([id], [usuarioId], [direccionId], [estadoPedidoId], [metodoPagoId], [total], [fecha_pedido]) VALUES (3, 2, 1, 1, 2, 10000, CAST(N'2023-06-26' AS Date))
INSERT [dbo].[Pedido] ([id], [usuarioId], [direccionId], [estadoPedidoId], [metodoPagoId], [total], [fecha_pedido]) VALUES (5, 2, 1, 1, 2, 101390, CAST(N'2023-06-26' AS Date))
INSERT [dbo].[Pedido] ([id], [usuarioId], [direccionId], [estadoPedidoId], [metodoPagoId], [total], [fecha_pedido]) VALUES (9, 2, 1, 1, 2, 1082896, CAST(N'2023-06-27' AS Date))
SET IDENTITY_INSERT [dbo].[Pedido] OFF
GO
INSERT [dbo].[PedidoProducto] ([productoId], [pedidoId], [cantidad], [estadoPedidoId], [subtotal]) VALUES (1, 3, 1, 1, 10000)
INSERT [dbo].[PedidoProducto] ([productoId], [pedidoId], [cantidad], [estadoPedidoId], [subtotal]) VALUES (2, 14, 1, 1, 20000)
INSERT [dbo].[PedidoProducto] ([productoId], [pedidoId], [cantidad], [estadoPedidoId], [subtotal]) VALUES (4, 9, 1, 1, 1082896)
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([id], [nombre], [descripcion], [precio], [cantidad], [categoriaId], [estadoId], [vendedorId]) VALUES (1, N'Cable HDMI ', N'Cable HDMI de alta velocidad 2 metros', 10000, 10, 1002, 1, 5)
INSERT [dbo].[Producto] ([id], [nombre], [descripcion], [precio], [cantidad], [categoriaId], [estadoId], [vendedorId]) VALUES (2, N'Camara de Seguridad', N'Camara de Seguridad', 20000, 5, 2, 1, 5)
INSERT [dbo].[Producto] ([id], [nombre], [descripcion], [precio], [cantidad], [categoriaId], [estadoId], [vendedorId]) VALUES (4, N'EMPALMADORA DE FIBRA ÓPTICA', N'La empalmadora de fibra óptica AI-9 usa el procesamiento de imágenes rápido y el proceso avanzado de centrado del núcleo,.', 1082896, 2, 3, 1, 5)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Telefono] ON 

INSERT [dbo].[Telefono] ([id], [usuarioId], [numero], [tipoTelefono]) VALUES (1, 1, 85082921, N'CEL')
INSERT [dbo].[Telefono] ([id], [usuarioId], [numero], [tipoTelefono]) VALUES (6, 2, 89905995, N'CEL')
INSERT [dbo].[Telefono] ([id], [usuarioId], [numero], [tipoTelefono]) VALUES (7, 5, 85082921, N'CEL')
SET IDENTITY_INSERT [dbo].[Telefono] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoUsuario] ON 

INSERT [dbo].[TipoUsuario] ([id], [descripcion]) VALUES (1, N'ADMINISTRADOR')
INSERT [dbo].[TipoUsuario] ([id], [descripcion]) VALUES (2, N'CLIENTE')
INSERT [dbo].[TipoUsuario] ([id], [descripcion]) VALUES (3, N'VENDEDOR')
SET IDENTITY_INSERT [dbo].[TipoUsuario] OFF
GO
INSERT [dbo].[TipoUsuarioxUsuario] ([usuarioId], [tipoUsuarioId]) VALUES (1, 1)
INSERT [dbo].[TipoUsuarioxUsuario] ([usuarioId], [tipoUsuarioId]) VALUES (2, 2)
INSERT [dbo].[TipoUsuarioxUsuario] ([usuarioId], [tipoUsuarioId]) VALUES (5, 3)
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [nombre], [apellidos], [email], [password], [estado]) VALUES (1, N'Jaca', N'Xan', N'xnjaca@gmail.com', N'1234', 1)
INSERT [dbo].[Usuario] ([id], [nombre], [apellidos], [email], [password], [estado]) VALUES (2, N'xnjaca', N'jaca', N'xnjaca1@gmail.com', N'1234', 1)
INSERT [dbo].[Usuario] ([id], [nombre], [apellidos], [email], [password], [estado]) VALUES (5, N'Ornn', N'Xan', N'ornn@gmail.com', N'1234', 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK_Chat_Producto] FOREIGN KEY([productoId])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK_Chat_Producto]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK_Chat_Usuario] FOREIGN KEY([emisorId])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK_Chat_Usuario]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK_Chat_Usuario1] FOREIGN KEY([receptorId])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK_Chat_Usuario1]
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Direccion] CHECK CONSTRAINT [FK_Direccion_Usuario]
GO
ALTER TABLE [dbo].[EvaluacionProducto]  WITH CHECK ADD  CONSTRAINT [FK_EvaluacionProducto_Producto] FOREIGN KEY([productoId])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[EvaluacionProducto] CHECK CONSTRAINT [FK_EvaluacionProducto_Producto]
GO
ALTER TABLE [dbo].[EvaluacionVendedor]  WITH CHECK ADD  CONSTRAINT [FK_EvaluacionVendedor_Usuario] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[EvaluacionVendedor] CHECK CONSTRAINT [FK_EvaluacionVendedor_Usuario]
GO
ALTER TABLE [dbo].[Foto]  WITH CHECK ADD  CONSTRAINT [FK_Foto_Producto] FOREIGN KEY([productoId])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[Foto] CHECK CONSTRAINT [FK_Foto_Producto]
GO
ALTER TABLE [dbo].[MetodoPago]  WITH CHECK ADD  CONSTRAINT [FK_MetodoPago_Usuario] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[MetodoPago] CHECK CONSTRAINT [FK_MetodoPago_Usuario]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Direccion] FOREIGN KEY([direccionId])
REFERENCES [dbo].[Direccion] ([id])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Direccion]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_EstadoPedido] FOREIGN KEY([estadoPedidoId])
REFERENCES [dbo].[EstadoPedido] ([id])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_EstadoPedido]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_MetodoPago] FOREIGN KEY([metodoPagoId])
REFERENCES [dbo].[MetodoPago] ([id])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_MetodoPago]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Usuario] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Usuario]
GO
ALTER TABLE [dbo].[PedidoProducto]  WITH CHECK ADD  CONSTRAINT [FK_PedidoProducto_EstadoPedido] FOREIGN KEY([estadoPedidoId])
REFERENCES [dbo].[EstadoPedido] ([id])
GO
ALTER TABLE [dbo].[PedidoProducto] CHECK CONSTRAINT [FK_PedidoProducto_EstadoPedido]
GO
ALTER TABLE [dbo].[PedidoProducto]  WITH CHECK ADD  CONSTRAINT [FK_PedidoProducto_Pedido] FOREIGN KEY([pedidoId])
REFERENCES [dbo].[Pedido] ([id])
GO
ALTER TABLE [dbo].[PedidoProducto] CHECK CONSTRAINT [FK_PedidoProducto_Pedido]
GO
ALTER TABLE [dbo].[PedidoProducto]  WITH CHECK ADD  CONSTRAINT [FK_PedidoProducto_Producto] FOREIGN KEY([productoId])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[PedidoProducto] CHECK CONSTRAINT [FK_PedidoProducto_Producto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([categoriaId])
REFERENCES [dbo].[Categoria] ([id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_EstadoProducto] FOREIGN KEY([estadoId])
REFERENCES [dbo].[EstadoProducto] ([id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_EstadoProducto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Usuario] FOREIGN KEY([vendedorId])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Usuario]
GO
ALTER TABLE [dbo].[Telefono]  WITH CHECK ADD  CONSTRAINT [FK_Telefono_Usuario] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Telefono] CHECK CONSTRAINT [FK_Telefono_Usuario]
GO
ALTER TABLE [dbo].[TipoUsuarioxUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TipoUsuarioxUsuario_TipoUsuario] FOREIGN KEY([tipoUsuarioId])
REFERENCES [dbo].[TipoUsuario] ([id])
GO
ALTER TABLE [dbo].[TipoUsuarioxUsuario] CHECK CONSTRAINT [FK_TipoUsuarioxUsuario_TipoUsuario]
GO
ALTER TABLE [dbo].[TipoUsuarioxUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TipoUsuarioxUsuario_Usuario] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[TipoUsuarioxUsuario] CHECK CONSTRAINT [FK_TipoUsuarioxUsuario_Usuario]
GO
USE [master]
GO
