@{
    ViewBag.Title = "Ingresar";
    Layout = "~/Views/Auth/_AuthLayout.cshtml";
}
<div class="container">
    <div class="row mt-lg-n10 mt-md-n11 mt-n10">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
            <div class="card z-index-0">
                <div class="card-header text-center pt-4">
                    <h5>Iniciar Sesion</h5>
                </div>
                @if (TempData["Message"] != null)
                {
                    <div class="custom-alert" role="alert">
                        @TempData["Message"]
                    </div>
                }
                <div class="card-body">
                    <form class="form text-left" method="post" action="@Url.Action("Login", "Auth")">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="username" placeholder="Email" aria-label="Name" aria-describedby="email-addon">
                            <span id="email-error" class="empty-input"></span>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Password" aria-describedby="password-addon">
                            <span id="password-error" class="empty-input"></span>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="rememberMe" name="rememberMe" checked="">
                            <label class="form-check-label" for="rememberMe">Recordar Usuario</label>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Ingresar</button>
                        </div>

                        <p class="text-sm mt-3 mb-0">¿Aun no tiene una cuenta? <a href="@Url.Action("SignUp", "Auth")" class="text-dark font-weight-bolder">Registrarse</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {

            setTimeout(function () {
                $(".custom-alert").fadeOut();
            }, 5000);

            // Ocultar el mensaje de TempData cuando el usuario comienza a escribir en un campo de texto
            $("input[name='username'], input[name='password']").on("input", function () {
                $(".custom-alert").fadeOut();
            });


            $("form").submit(function (event) {
                // Detener el envío del formulario
                event.preventDefault();

                // Obtener los valores de los campos de entrada
                var email = $("input[name='username']").val();
                var password = $("input[name='password']").val();


                // Limpiar los mensajes de error previos
                $(".text-danger").text("");

                // Realizar validaciones
                if (email == undefined && password == undefined || email.trim() === "" && password.trim() === "") {
                    $("#email-error").text("Por favor, ingrese un correo electrónico.");
                    $("#password-error").text("Por favor, ingrese una contraseña.");
                    return;
                }

                if (email.trim() === "") {
                    $("#email-error").text("Por favor, ingrese un correo electrónico.");
                    return;
                }
                if (!validateEmail(email)) {
                    $("#email-error").text("Por favor, ingrese un formato de correo electrónico válido.");
                    return;
                }

                if (password.trim() === "") {
                    $("#password-error").text("Por favor, ingrese una contraseña.");
                    return;
                }

                // Si pasa todas las validaciones, enviar el formulario
                $("form").unbind("submit").submit();
            });

            // Función para validar el formato de correo electrónico
            function validateEmail(email) {
                var re = new RegExp('^[^\\s@@]+@@[^\\s@@]+\\.[^\\s@@]+$');
                return re.test(email);
            }
        });

    </script>

}